
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-display: swap;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/syne-mono@latest/latin-400-normal.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/syne-mono@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  font-family: "Caveat", cursive;
  background-color: rgb(230, 228, 228);
}

code, kbd {
  font-family: 'Syne Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {font-size: 3rem;}
h2 {font-size: 2.6rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.44rem;}
h5 {font-size: 1.15rem;}
h6 {font-size: 0.96rem;}


